<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>¡Ponte algo!</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />

    <!-- Page level plugin CSS -->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet" />
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 400px;
      }
    </style>
  </head>

  <body id="page-top">
    <%- include ../partials/index/header.ejs %>

    <div id="wrapper">
      <div id="content-wrapper">
        <div class="container-fluid">
          <div>
            <h2>Ubica nuestra tienda</h2>
            <div id="map"></div>
            <script>
              var map;
              var myLatLng = { lat: -25.363, lng: 131.044 };
              function initMap() {
                console.log("mapa");
                map = new google.maps.Map(document.getElementById("map"), {
                  center: myLatLng,
                  zoom: 4
                });
                var marker = new google.maps.Marker({
                  position: myLatLng,
                  map: map,
                  title: "Hello World!"
                });
              }
            </script>
          </div>
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
          <div class="container my-auto">
            <div class="copyright text-center my-auto"><span>Ponte algo kk</span></div>
          </div>
        </footer>
      </div>
      <!-- /.content-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcDl6TPjs-Ldic8rgceqQK0SxVt6edfyA&callback=initMap"
      async
      defer
    ></script>
    <!-- Custom scripts for all pages -->
    <!-- <script src="js/sb-admin.min.js"></script> -->
  </body>
</html>
