<section class="table-section">
    <h3>H3 in table section</h3>
    <div class="entry foreground-color">
        <form onsubmit="return getValue('name','address')">
            <input type="text" name="name" size="60" id="name"/>
            <input type="text" name="address" size="60" id="address"/>
            <input type="submit" value="submit" />
        </form>
    </div>
</section>